body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    flex-direction: column;
    min-height: 100vh;
}

div.container{
    margin: 5px;
    padding: 10px;
    border-style: solid;
    background-color: darkred;
}

.Galeria{
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 400px); 
    gap: 10px;
    padding: 20px
}

div.imagen{
    background-color: #ccc;
    object-fit: cover
}

.infoautor{
    text-align: center;
    margin-top: auto;
    height: 100px; 
}

footer{
    text-align: center;
    margin-top: auto;
}