body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: darkgrey;
}

div.container{
    margin: 5px;
    padding: 10px;
    border-style: solid;
    background-color: darkred;
}

.Galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Galería responsive */
    gap: 10px;
    padding: 20px
}

div.imagen{
    background-color: #ccc;
    height: 200px;
}

footer{
    text-align: center;
    margin-top: auto;
}